.section1{
    padding: 90px 0;
    .container{
        position: relative;
    }
    &__title{
        font-size: 60px;
        margin-bottom: 40px;
    }
    &__text1{
        margin-bottom: 20px;
        max-width: 400px;
        font-weight: 700;
        
    }
    &__text2{
        margin-bottom: 50px;
        max-width: 400px;
        font-weight: 700;
    }
    &__imgBlock{
        max-width: 800px;
        position: absolute;
        top: -100px;
        right: 0;
        z-index: -6;
        img{
            width: 100%;
        }
    }
    .linkOrange{
        padding: 22px 56px;
        background-color: #F9B300;
        border-radius: 5px;
        display: inline-block;
    }
}