.section2{
    position: relative;
    padding: 200px 0;
    &__bgElem2{
        transform: rotate(180deg);
        left: 0;
    }
    &__cards{
        display: flex;
        justify-content: space-between;
    }
    &__coffee{
        position: absolute;
        bottom: -200px;
        z-index: -1;
    }
}